@import url(default.css);

/*RTLing*/
body { direction: rtl; }
#post-list, #article { left: auto; right: 50%; margin-left: auto ; margin-right: -350px; }
.menu { left: auto; right: 12px; padding-right: 5px; }
.menu-content { left: auto; right: 12px; }
.site-icon-small { margin-right: auto; margin-left: 10px; }
.menu span { margin-right: 7px; }

/*--------------------*/
